version: '3.8'

services:
  httpalu:
    image: ghcr.io/yanorei32/http-alu:latest@sha256:ad2ebc95f7dfb76f092103bb6f70303cda73bb060ad0612b1ab642001ebf9080
    hostname: httpalu
    container_name: httpalu__httpalu
    restart: unless-stopped

    deploy:
      resources:
        limits:
          memory: 256m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2026.1.1@sha256:5bb6a0870686742d00e171f36c892ba91e5994631bc363d808b9ba822262dad6
    hostname: cloudflared
    container_name: httpalu__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: httpalu__default
