version: '3.8'

services:
  httpalu:
    image: ghcr.io/yanorei32/http-alu:latest@sha256:49d53d638a84104320930ff1786b28d5e9d2e1379a9b7716533bccd44318888e
    hostname: httpalu
    container_name: httpalu__httpalu
    restart: unless-stopped

    deploy:
      resources:
        limits:
          memory: 256m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2026.1.2@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    hostname: cloudflared
    container_name: httpalu__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: httpalu__default
